[submodule "lib/socket.io-client-cpp"]
	path = lib/socket.io-client-cpp
	url = https://github.com/socketio/socket.io-client-cpp.git
[submodule "lib/picojson"]
	path = lib/picojson
	url = https://github.com/kazuho/picojson.git
[submodule "lib/re2"]
	path = lib/re2
	url = https://github.com/google/re2.git
