.DS_Store
.idea/
bin/
doc/
local/
tmp/
src/android/app/src/main/java/org/processwarp/android/constant/Module.java
src/android/app/src/main/java/org/processwarp/android/constant/NID.java
src/android/app/src/main/java/org/processwarp/android/constant/PID.java
src/const/core_mid*
src/const/daemon_mid*
src/const/loader_mid*
src/core/constant.hpp
src/electron/constant.js
src/electron/node_modules/
Testing/

# Compiled files
src/core/loader
src/daemon/processwarp
src/daemon/worker
*.test

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compiled python
*.pyc

# CMake files
*.cmake
CMakeFiles
CMakeCache.txt
install_manifest.txt
Makefile
