.DS_Store
.idea/
bin/
build/
doc/
tmp/
src/const/core_mid*
src/const/daemon_mid*
src/const/loader_mid*
src/electron/node_modules/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
